.main-view {
    height: 14em;
    min-height: 14em;
    max-height: 14em;
    margin-left: 18px !important;
    margin-right: 18px !important;
}

.main-view img {
    max-width: 100%;
    min-width: 100%;
    max-height: 14em !important;
}