input {
	width: 100%;
}

.forgot-password {
	float: right;
}

.footer-text {
	float: right;
}

.LOGIN {
	float: left;
}

.welcome-title {
	font-size: 3rem !important;
	color: black;
	text-align: center;
}

form.ng-valid.ng-touched {
	border: none !important;
	color: white !important;
}

form.ng-invalid.ng-touched {
	border: none !important;
	color: white !important;
}

ion-content {
	ion-grid,
	ion-row {
		ion-card {
			--background: var(--dv-background-accent-dark);
		}

		ion-img {
			width: 80px;
			text-align: center;
			margin: 0 auto;
		}

		.input-section {
			background: var(--dv-background-primary-basic);
			width: calc(100% - 32px) !important;
			margin: 16px;
			padding: 8px 16px 24px 16px;
			border-radius: 4px;
			border: 1px solid var(--dv-background-border);
		}

		ion-item {
			border-bottom: 1px solid #cfe1f2;

			ion-input {
				--padding-end: 8px;
			}

			ion-icon {
				position: absolute;
				right: 0;
				bottom: 8px;
			}
		}

		ion-label {
			margin: 8px 0;
		}

		.item-has-focus {
			ion-label {
				color: #556783 !important;
			}
		}

		.google-button {
			--background: #c82333;
			--background-hover: #c82333 !important;
		}

		.facebook-button {
			--background: #3b5999;
			--background-hover: #3b5999 !important;
		}

		.twitter-button {
			--background: #1ea1f3;
			--background-hover: #1ea1f3 !important;
		}
	}

	.ion-margin-top {
		margin-top: 5px !important;
	}
}
