<ion-header>
    <save-sub-menu title="Attachments" (_saveClickEventHandler)="save()" [isShowSave]="true"></save-sub-menu>
</ion-header>
<ion-content class="ion-padding">
    <ng-container>
        <div class="spacer-halfRem"></div>
        <div class="main-view">
            <img src="{{image}}" />
        </div>
        <div class="spacer-oneRem"></div>
        <div class="mypad-grey">What Type?</div>
        <ion-item class="no-left-padding" lines="none">
            <ion-select id="metattachTypes" [(ngModel)]="metattachTypeId" interface="action-sheet">
                <ion-select-option *ngFor="let type of metattachTypes" [value]="type.Id">
                    {{type.Name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <div class="spacer-oneRem"></div>
        <div class="mypad-grey">Title</div>
        <ion-item lines="none">
            <input type="text" class="input-text text-input-regular" [(ngModel)]="title" placeholder="Add a title..." [disabled]="isDisabled" />
        </ion-item>
        <div class="spacer-oneRem"></div>
        <div class="mypad-grey">Description / Notes</div>
        <ion-item lines="none">
            <textarea class="input-text text-input-regular text-area-regular" [(ngModel)]="notes" style="max-height: 8em !important; width:100% !important; max-width:100% !important; padding: .25em; border-radius: 1em !important;" placeholder="Notes..." [disabled]="isDisabled"></textarea>
        </ion-item>
        <div class="spacer-oneRem"></div>
    </ng-container>
</ion-content>