<ion-header>
	<div class="top-ios-space" *ngIf="platform.is('ios')"></div>
	<navigation-sub-menu [showBackButton]="true" type="logoMenu"></navigation-sub-menu>
</ion-header>
<ion-content class="ion-padding">
	<ion-row class="underLine">
		<ion-col size="12" class="ion-text-center">
			<div class="ion-text-center" style="width: 100%;">
				<h2 class="header-text">Great! Let's do bathrooms.</h2>

			</div>

		</ion-col>
		<ion-col size="12" *ngFor="let  bathRoom of bathRooms">
			<h3 class="input-label">{{bathRoom.Name}}</h3>
			<ion-item lines="none">
				<input inputmode="numeric" type="number" [(ngModel)]="bathRoom.Quantity" required (focus)="selectInput($event)">
			</ion-item>
		</ion-col>

	</ion-row>
</ion-content>
<ion-footer>
	<ion-row>
		<ion-col size="12">
			<ion-button float-end color="dark" (click)="continue()" shape="round" style="float: right;margin-top: 3em;">Continue</ion-button>
		</ion-col>
	</ion-row>
</ion-footer>