.top-header {
	background-color: var(--ion-color-dark) !important;
}

.close-icon {
	font-size: xx-large;
	color: white;
	margin-top: 2rem;
	font-weight: bolder;
	margin-left: 1rem;
}

.header-text {
	color: white;
	text-align: center;
	padding-right: 3em;
}

.header-link {
	color: white;
	text-align: center;
	padding-right: 3em;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	max-width: 50em !important;
}

div.scrollmenu {
	background-color: var(--ion-color-primary);
	overflow: auto;
	white-space: nowrap;
	position: fixed;
	min-width: 100% !important;
	max-width: 100% !important;
}

div.scrollmenu a {
	display: inline-block;
	color: whitesmoke;
	text-align: center;
	padding: 14px;
	font-size: 1.5rem;
	font-family: "Silka-Bold";
	text-decoration: none;
	min-width: 25% !important;
	max-width: 25% !important;
}

div.scrollmenu a:hover {
	color: var(--ion-color-white-background);
	font-weight: bolder;
}

ion-footer {
	background-color: var(--ion-color-dark) !important;
}

.tab-icon {
	filter: invert(32%) sepia(62%) saturate(637%) hue-rotate(170deg) brightness(95%) contrast(94%);
	height: 3rem;
}
