.sc-ion-modal {
	top: 20%;
	left: 10%;
	width: 80%;
	height: 50%;
	border-radius: 20px;
}

h3 {
	font-size: larger !important;
	margin-left: 2rem !important;
	color: var(--ion-color-grey);
}

.input-label {
	margin-left: 1em;
}
