.choose-dev {
    font-weight: bolder;
    font-family: "Silka-Semi-Bold";
    margin-right: 0rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.development-name {
    font-size: 2rem !important;
}

.item-image {
    width: 3rem !important;
    height: 3rem !important;
    filter: invert(45%) sepia(17%) saturate(819%) hue-rotate(76deg) brightness(100%) contrast(86%);
}

.header-text {
    font-family: 'Silka-Bold' !important;
    text-align: center;
}

.lot-name {
    font-size: 2rem !important;
    margin-top: 0.8rem !important;
    font-weight: bold !important;
}