<ion-content class="ion-padding">
	<br style="clear:both;" />
	<br style="clear:both;" />
	<br style="clear:both;" />
	<ion-row>

		<ion-col size="12">
			<div class="ion-text-center">
				<h1 class="welcome-title">Welcome To</h1>
				<img src="https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Flogo%2Fhorizontal-logo.jpg?alt=media&token=dca5a1d4-c115-48c6-8f1e-e8de5a12b60e" class="logo-img" />
			</div>
		</ion-col>

	</ion-row>
	<br style="clear:both;" />
	<br style="clear:both;" />
	<ion-row>

		<ion-col size="12">
			<div class="ion-text-center">
				<h2 style="font-family: Silka-Semi-Bold !important;">Hello, {{User.Name}}. Let's get to work on building your dream home. First, you'll need to choose one of the predesigned homes provided by <strong>{{privateLabeler.Name}}.</strong></h2>
			</div>
		</ion-col>

	</ion-row>
	<br style="clear:both;" />
	<div class="ion-text-center">
		<ion-row>

			<ion-col size="12">
				<div class="SHOW-ME-SOME-HOMES" (click)="continue()">
					<ion-button class="btn default" color="dark" expand="block" shape="round">Show me some homes!</ion-button>
				</div>
			</ion-col>

		</ion-row>
	</div>
</ion-content>