form.ng-valid.ng-touched {
	border: none !important;
	color: white !important;
}

form.ng-invalid.ng-touched {
	border: none !important;
	color: white !important;
}

.welcome-title {
	margin-bottom: 0.5em;
}
