/*@font-face {
	font-family: 'Silka-Bold';
	src: url('https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffonts%2Fsilka%2FSilka-Bold.otf?alt=media&token=3a9bcf05-69bb-48dc-9e7f-8373a8c7e8b8');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Silka-Regular';
	src: url('https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffonts%2Fsilka%2FSilka-Regular.otf?alt=media&token=7a4c8a0e-97a4-402d-b4ba-8507a79242b5');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Silka-Bold-Italic';
	src: url('https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffonts%2Fsilka%2FSilka-BoldItalic.otf?alt=media&token=3bcc1c95-3fcf-4f4e-8f38-4e73fa069168');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Silka-Medium';
	src: url('https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffonts%2Fsilka%2FSilka-Medium.otf?alt=media&token=20feed4f-fa87-4094-8f53-de7fed5fa844');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Silka-Semi-Bold';
	src: url('https://firebasestorage.googleapis.com/v0/b/homeazzon.appspot.com/o/common%2Ffonts%2Fsilka%2FSilka-SemiBold.otf?alt=media&token=aebeb9c2-63d8-4c73-a03f-5b4785bc4823');
	font-weight: normal;
	font-style: normal;
}
*/