<ion-content>
	<ion-grid style="height: 100vh;text-align: center;padding-top: 10em;">
		<ion-row class="justify-content-center align-items-center" style="height: 100%; flex-direction: column">
			<div class="text-center">

				<img
					src="https://firebasestorage.googleapis.com/v0/b/itt-content.appspot.com/o/Common%2Fassets%2Fimgs%2Fhorizontal-logo.jpg?alt=media&token=5a7b36a8-33ea-4838-bf48-5c816e8ae785">
				<br><br>
				<ion-spinner name="bubbles" style="zoom:5" color="primary"></ion-spinner>

			</div>
		</ion-row>
	</ion-grid>
</ion-content>