.continue-btn {
	float: right;
}

.input-label {
	line-height: 2em;
}

.ng-pristine {
	border: none !important;
}

.ng-valid.ng-touched {
	border: none !important;
}

.header-text {
	margin-left: 0.5em;
}
