.header-text {
	text-align: center;
	margin-top: 1em !important;
	margin-bottom: 2em;
}

.input-label {
	margin-left: 1em;
	font-weight: lighter !important;
	font-family: Silka-Semi-Bold !important;
	color: var(--ion-color-grey) !important;
}

.continue-btn {
	float: right;
	margin-top: 3em;
}
