<ion-header>
	<div class="top-ios-space" *ngIf="platform.is('ios')"></div>
	<navigation-sub-menu [showBackButton]="true" type="logoMenu"></navigation-sub-menu>
</ion-header>
<ion-content class="ion-padding">
	<ion-row>
		<ion-col size="12">
			<h2 class="header-text">Let's start with some general information</h2>
		</ion-col>
		<ion-col size="12">
			<h3 class="input-label">Name Your Home Design</h3>
			<ion-item lines="none">
				<input type="text" [(ngModel)]="property.Name" required>
			</ion-item>
		</ion-col>
		<ion-col size="12">
			<h3 class="input-label">Number of Levels</h3>
			<ion-item lines="none">
				<input inputmode="numeric" type="number" [(ngModel)]="property.TotalStories" required (focus)="selectInput($event)">
			</ion-item>
		</ion-col>
		<ion-col size="12">
			<h3 class="input-label">Square Footage</h3>
			<ion-item lines="none">
				<input inputmode="numeric" type="number" [(ngModel)]="property.SqFt" required (focus)="selectInput($event)">
			</ion-item>
		</ion-col>

	</ion-row>
</ion-content>

<ion-footer>
	<ion-row>
		<ion-col size="12">
			<ion-button color="dark" shape="round" (click)="gotobathroompage()" class="continue-btn">Continue</ion-button>
		</ion-col>
	</ion-row>
</ion-footer>