.btnstyle2 {
    text-align: center;
    margin-top: 2rem;
}

.btnstyle1 {
    text-align: center;
    margin-top: 4rem;
}

.welcome-text {
    margin-top: 8vh !important;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn {
    font-weight: bold;
    font-family: 'Silka-Bold';
    font-size: larger;
    text-transform: uppercase;
    height: 7rem !important;
}